{% extends "father.html" %}

{% block forms %}
    <br>
    <br>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="fw-normal text-center mb-4">LOG IN</h2>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit" class="btn btn-primary d-block mx-auto">Iniciar Sesión</button>
                        </form>
                        <p class="text-center mt-4">Usted no tiene cuenta? <a href="{% url 'Registrarse' %}">Registrese</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}